[Unit]
Description=test agent for Zonemaster Backend
After=network.target mariadb.service postgresql.service
Wants=mariadb.service postgresql.service

[Service]
Type=exec
User=zonemaster
Group=zonemaster
ExecStart=/usr/local/bin/zonemaster_backend_testagent \
  --logfile=- \
  --no-logpid \
  --no-logtimestamp \
  foreground

[Install]
WantedBy=multi-user.target
